.product-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999 !important;
    background: rgba(0, 0, 0, 0.6) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    z-index: 999999 !important;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
}

.btn-danger {
    background: #dc3545 !important;
    color: #fff !important;
}

.btn-primary {
    background: #007bff !important;
    color: #fff !important;
}