/* .btn-google {
    background-color: #ff5722;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-google:hover {
    background-color: #e64a19;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
} */

/* Định nghĩa màu primary tùy chỉnh */
/* .bg-primary {
    background-color: #146733 !important;
}


.bg-primary:hover {
    background-color: ;
    
} */